{{ gunicorn_access_log }} {{ gunicorn_error_log }} {
    su {{app_user}} {{app_user}}
    daily
    missingok
    rotate 7
    compress
    delaycompress
    notifempty
    create 640 {{app_user}} {{app_user}}
    postrotate
        kill -USR1 `cat {{ gunicorn_pid }}`
    endscript
}